<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderVariantField>
        <processor type="Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderSection, Sitecore.XA.Foundation.RenderingVariants"
                   set:type="SitecoreCommunity.SXA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderSection, SitecoreCommunity.SXA.13922" />
      </renderVariantField>
    </pipelines>
  </sitecore>
</configuration>
